{% extends "app/layout.html" %}

{% block content %}

    <h2> {{title}} </h2>
    {% if post_1.image and post_1.image.url != '/media/temp.jpg' %}
        <img src="{{ post_1.image.url }}" alt="Image" width="600" height="800"/>
    {% endif %}
    
    <p> {{post_1.content|linebreaksbr}} </p>      {# вывод текста по абзацам#}
    
    {% if user.is_authenticated %}

       <h3>Add comment</h3>
       
       <form method="POST" >{% csrf_token %} {# защита от атак CSRF#}
       
           <div>
           
               {{form.as_p}}
               
               <button type="submit" class="save btn btn-default" > Send comment </button>
           
           </div>
       
       </form>
       
    {% else %}
       
        <h3> For added your comment you must pass authorisation </h3>
       
    {% endif %}

    {% for comment in comments %}
        
        <hr/>
        
        <h7> {{comment.date}} </h7>
        
        <h5> {{comment.author}} </h5>
        
        <p> {{comment.text|linebreaksbr}} </p>
        
    {% endfor %}

    <p> <a href="{% url 'blog' %}"> Назад </a> </p> {# ссылка на ленту блога#}
{% endblock %}